@CHARSET "UTF-8";

/* the header of bdd page */
.bddHeader {
	background: #FF6633;
}

/* the body of bdd page */
.bddBody {
	background: #7FFF00;
}

/* the footer of bdd page */
.bddFooter {
	background: #FF6666;
}

/* style of formula area */
.formulaArea {
	font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
}